.phpunit.result.cache
npm-debug.log
yarn-error.log
vendor/
node_modules/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# PhpStorm #
.idea/
